.form{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.btn{
    padding: .5em .8em;
    border: none;
    color: #fff;
    font: inherit;
    font-size: 16px;
    font-weight: 600;
    align-self: start;
    cursor: pointer;
    border-radius: .3rem;
}

.btn--blue{
    background-color: rgb(70, 70, 255);
}

.todo-input{
    padding: .5em;
    align-self: start;
    padding: .5em .8em;
    background-color: rgb(251, 248, 248);
    border: 2px solid rgb(240, 238, 238);
    border-radius: .3rem;
}

.container{
    width: 80%;
    margin-left: 1.5em;
}

.sub_heading{
    margin-top: 2em;
}

.todolist{
    list-style: none;
}

.todo{
    display: flex;
    gap: .5em;
}