.container{
    margin-left: 1.5em;
}

.sub_heading{
    margin-top: 2em;
}

.todolist{
    list-style: none;
}

.todo{
    display: flex;
    gap: .5em;
}

.todo + .todo{
    margin-top: .5em;
}

.delete-btn {
    cursor: pointer;
    margin-left: .5em;
}